:root {
    --main-text-color: #2E2F42;
    --second-text-color: #434455;
    --main-bg-color: #ffffff;
    --second-bg-color: #F4F4FD;
    --hero-bg-color:#2E2F42;
    --btn-bg-color: #F4F4FD;
    --btn-bg-color-active: #404BBF;
    --btn-text-color: #4D5AE5;
    --btn-text-color-active: #FFFFFF;
    --success: #31D0AA;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
}
.page {
    background-color: var(--main-bg-color);
    color: var(--second-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}
.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}
ul {
    list-style: none;
}
.header-link {
    color: var(--main-text-color);
    font-family: Raleway, cursive;
    letter-spacing: 0.03em;
    font-weight: 800; 
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    text-decoration: none;
}
.header-link .header-logo :hover, 
.header-link .header-logo :focus {
    color: var(--btn-bg-color-active);
}
.header-logo {
    color: var(--btn-text-color);
}
.site-nav .link {
    color: var(--main-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}
.site-nav {
    padding: 0;
    margin: 0;
}
.site-nav :hover, 
.site-nav :focus {
    color: var(--btn-bg-color-active);
}
.site-nav .link.current{
    color: var(--btn-bg-color-active);
}
.site-nav  .link {
    text-decoration: none;
}
.address-nav .address-link {
    color: var(--second-text-color);
font-style: normal;
font-size: 16px;
line-height: 1.5;
text-decoration: none;
}
.address-nav {
    padding: 0;
    margin: 0;
}
.address-nav :hover, 
.address-nav :focus {
    color: var(--btn-bg-color-active);
}
.address-link {
    text-decoration: none;
}
.hero {
    background-color: var(--hero-bg-color);
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 48px;
    color:  #FFFFFF;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
}
.button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: var(--btn-text-color);
    letter-spacing: 0.04em;
    font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
}
.section {
    margin-top: 120px;
    margin-bottom: 120px;
}
.visually-hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section-one-list {
    margin-top: 0;
}
.section-title {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--main-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
.section-one-text {
    margin-top: 0;
    margin-bottom: 0;
font-size: 16px;
line-height: 1.5;
}
.doing {
    margin-top: 120px;
    margin-bottom: 120px;
} 
.section-two-title {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
}
.team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--second-bg-color);
} 
.section-three-title {
    margin-top: 0;
    margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
}
.team-name {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--main-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
.team-work {
font-size: 16px;
line-height: 1.5;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--hero-bg-color);
}
.footer-link {
    display: inline-block;
    margin-left: 156px;
    margin-bottom: 16px;
    color: #F4F4FD;
font-family: Raleway, cursive;
letter-spacing: 0.03em;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
text-transform: uppercase;
text-decoration: none;
}
.footer-link .footer-logo :hover, 
.footer-link .footer-logo :focus {
    color: var(--btn-bg-color-active);
}
.footer-logo {
    color: var(--btn-text-color);
}
.footer-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 156px;
    width: 264px;
    color: var(--accent);
font-size: 16px;
line-height: 1.5;
}
/* Portfolio */
.filtr-btn {
    margin-top: 0;
    margin-bottom: 72px;
}
.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--btn-text-color-active);
    background-color: var(--btn-bg-color-active);
}
.button-portfolio {
    border-radius: 4px;
padding: 12px 24px;
border: 1px solid var(--accent);
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.portfolio-list {
    margin-top: 0;
    margin-bottom: 0;
}
.general-text {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--main-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
.second-portfolio-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--second-text-color);
font-size: 16px;
line-height: 1.5;
}
